@media screen and (max-width: 420px){
   

     .row{
        width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #lezioni .row > .left,
        #lezioni .row>.right,
        #steps .row>.left,
        #steps .row>.central,
        #steps .row>.right{
            width: 85%;
    }

    #lezioni .row{
        background-color: yellow;
    }
    #why .row{
        background-color: yellow;
    }


    
}